[submodule "Extern/zlib"]
	path = Extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "Extern/libmapvxl"]
	path = Extern/libmapvxl
	url = https://github.com/SpadesX/libmapvxl.git
[submodule "Extern/spadesx_enet"]
	path = Extern/spadesx_enet
	url = https://github.com/SpadesX/enet
[submodule "Extern/zlib-ng"]
	path = Extern/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
