[submodule "Extern/zlib"]
	path = Extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "Extern/libmapvxl"]
	path = Extern/libmapvxl
	url = https://github.com/SpadesX/libmapvxl.git
[submodule "Extern/spadesx_enet"]
	path = Extern/spadesx_enet
	url = https://github.com/SpadesX/enet
[submodule "Extern/tomlc99/tomlc99"]
	path = Extern/tomlc99/tomlc99
	url = https://github.com/cktan/tomlc99
